<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.idpz.instacity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".utils.AppController"
        android:allowBackup="true"
        android:icon="@drawable/mlogo64"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mlogo64"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            tools:node="remove" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCVMtJ1wQjmniQpjXhlaA_bcuOmMVbbxdU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Home.HomeActivity" />
        <activity
            android:name=".Search.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme" />

        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AlarmService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Like.LikesActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".Share.ShareActivity" />
        <activity android:name=".Profile.AccountSettingActivity" />
        <activity android:name=".Share.UploadActivity" />
        <activity android:name=".Home.CommentActivity" />
        <activity android:name=".Profile.SinglePostActivity" />
        <activity android:name=".Profile.MyProfileActivity" />
        <activity android:name=".Home.LoginActivity" />
        <activity android:name=".Home.SignupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            android:label="دهکده هوشمند">
        </activity>
        <activity android:name=".Search.StoreRegActivity" />
        <activity android:name=".Profile.ChangeCityActivity"></activity>
    </application>

</manifest>